[Desktop Entry]
Version=1.0
Type=Application
Name=Cool It
Comment=MSI Laptop Fan Control
Exec=./coolit-launcher.sh
Icon=preferences-system
Terminal=false
Categories=System;Settings;
Keywords=fan;cooling;msi;
